* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #212121;
  text-align: center;
  min-height: 100vh;
  padding: 0 0 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  #logo {
    width: 60%;
  }


  header a i {
    font-size: 5em;
    color: #f00;
    text-shadow: 0 0 0.5em #ff9600;
    position: relative;
    animation: chevron-down 2s infinite;  
  }

nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

main {
  background-color: #ddd;
}

section {
  text-align: center;
}

#introduction {
  padding: 4em 0;
  text-align: justify;
}

  #introduction div{
    background-color: #212121;
    color: #ddd;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
  }

#products {
  background-color: #f00;
  color: #fff;
  padding: 20px 0 0 0;
}

  .menu-produtos {
    background-color: #ff9600 !important;
    border-color: #f00 !important;
  }

  .menu-produtos:focus {
    outline: none;
  }

  .menu-produtos:hover {
    background-color: #ff9600 !important;
    color: #fff !important;
  }

  .products-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 10px;
  }

  figure {
    margin: 0;
  }

  figure img {
    max-width: 100%;
    box-shadow: 0 0 5em #ff9600;
  }

  figcaption {
    background-color: #212121;
    color: #ddd;
    box-shadow: 0 0 5em #ff9600; 
    padding: 10px !important;
  }

  .btn-detalhe {
    background-color: #fff;
    padding: 10px;
    outline: none;
    border: 5px solid #ff9600;
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
  }

  .btn-detalhe:hover {
    font-weight: bold;
  }

  .limitText {
    text-align: left;
    word-wrap: break-word;
  }

  .w3-modal {
    padding-top: 20px !important;
  }

  .modal-bkg {
    background-color: #212121; 
    color: #ff9600;
  }

  #modal-img {
    max-width: 40%;
  }

#ebooks {
  padding: 20px 10px;
}

  #ebooks > p{
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  #ebooks-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .ebooks {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    align-items: center;
    justify-items: center;
  }

  .ebooks img {
    min-width: 70%;
    max-width: 100%;
  }

  .ebooks p {
    padding: 10px 0;
    text-align: justify;
    font-size: 1.2em; 
    color: #222;
  }

  .ebooks a {
    width: 100%;
  }

  .btn-ebooks {
    background-color: #ff9600;
    color: #fff;
    padding: 10px;
    border: none;  
    width: 100%;
  }  

  .btn-ebooks:hover {
    font-weight: bold;
    cursor: pointer;
  }

#contact {
  background-color: #000;
  color: #ddd;
  padding: 2em 20px;
}

  #contact div {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    padding: 10px 0 20px 0;
  }

footer {
  background-color: #212121;
  color: #ddd;
  padding: 0.5em 0;
  text-align: center
}

@media (max-width: 900px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #ebooks-grid {
    grid-template-columns: auto;
  }
  #modal-img {
    max-width: 70% !important;
  }
}

@media (max-width: 600px) {
  #logo {
    width: 90%;
  }

  nav a {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  .products-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@keyframes chevron-down {
  0% {top: 0px;}
  50% {top: 25px;}
  100% {top: 0px;}
}